body{
background: #646464;
}
/*Keep in mind that these elements are being
used in many different HTML documents*/
#AboutTitle{
border-width: 5px;
border-color: white;
border-style: solid;
background-color: black;
    text-align: center;

color: white;
}
#startTitle{
    border-width: 5px;
    border-color: white;
    border-style: solid;
    background-color: black;
    text-align: center;


    color: white;
}

p{
color:white
}
/*used for the buttons on the top of each
HTML page*/
#goMain{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 25%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goMain:hover{
    background-color: #222222;
}
#goAbout{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 25%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;

}
#goAbout:hover{
    background-color: #222222;
}
#goFormer{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 25%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goFormer:hover{
    background-color: #222222;
}
#goWhat {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 25%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goWhat:hover{
    background-color: #222222;
}
#goStart {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goStart:hover{
    background-color: #222222;
}
#inputs{
    display: flex;
    margin: -20px auto auto;
}
#github{
    position: absolute;
    bottom: 0;

}
