body{
background: #646464;
    font-size: 16px;
}
body{
    position: relative;
}
.title{
    border-width: 5px !important;
    border-color: white;
    border-style: solid;
    text-align: center !important;


    color: white;
    background-color: black;
}

#TopElements{
    'position: fixed;
    background-color: black;
    margin-top: auto;


}

table, th, td{
    color: white;
    border: 2px solid white;
    text-align: center;
    margin: auto;

}
#nav{
    border-width: 2px;
    border-color: white;
    border-style: solid;

}
#goMain{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goMain:hover{
    background-color: #222222;
}
#goAbout{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;


}
#goAbout:hover{
    background-color: #222222;
}
#goFormer{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goFormer:hover{
    background-color: #222222;
}
#goWhat{
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goWhat:hover{
    background-color: #222222;
}
#goStart {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    height: 30px;
}
#goStart:hover{
    background-color: #222222;
}
#inputs{
    margin: -20px auto auto;
}
/*#spinout{
margin: fill
}*/

tr{
    height: 100px;
    width: 100px;
}
#inputs{
    display: flex;
}
#github{
     position: page;
     bottom: 0;
 }
.flex-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.title {
    text-align: center; /* Center-align the text */
}

.title img {
    vertical-align: middle; /* Vertically align the images with the text */
}
.Conch_history, .Liberland_history{
    text-align: center;
}
.content-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align content */
}
.container{
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 0;
    flex: 1;
}
.map_table {
    width: 25%; /* Adjust the width as needed */
    margin: auto; /* Center the table horizontally */
    margin-top: 0;
}

.map_table td img {
    max-width: 100%; /* Make the image fit within the cell */
    height: auto; /* Maintain the aspect ratio */
}
